.seed-database-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seed-database-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--success);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}